<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= dart_include_tag 'dart_app' %>
<%= javascript_include_tag 'dart' %>

</body>
</html>
